extends layout

block content
  header.header
    h1(class="float_left clear") todo-app
    div
      ul.ul_element
        li
          a(href="/signup") 新規登録
      ul.ul_element
        li
          a(href="/login") Login
  div.task_folder
    div.folder.clear
      h2 フォルダ
      if folders
        ul
          li
            a(class="border" href="/folders/create") フォルダを追加する
          each folder in folders
            li
              a(class="border" href='/folders/'+folder.id+'/tasks') #{folder.folderName}
      else
        ul
          li
            a(class="border" href="/folders/create") フォルダを追加する
    div.tasks
      h2 タスク
      if folders
        a(href='/folders/'+id+'/create/tasks' class="border") タスクを追加する
      else
        a(href="/folders/create" class="border") フォルダを作成する
      table
        thead
          tr
            th タイトル
            th 状態
            th 期限
            th
        tbody
          each key in keys
            tr
              td #{tasks[key].profile.title}
              if tasks[key].profile.status===0
                td 未着手
              if tasks[key].profile.status===1
                td 着手
              if tasks[key].profile.status===2
                td 完了
              td #{tasks[key].profile.due_date}
              td
                a(href=`/folders/${id}/tasks/${tasks[key].profile._id}/edit`) 編集
